*
!.gitignore
!package.json
!package-lock.json
!tsconfig.json
!nodemon.json
!Dockerfile
!.dockerignore
!docker-compose.yml
!.env.example

!dist/
!dist/index.js
!dist/Test1.js
!dist/Utils.js
!dist/User.js
!dist/UserController.js
!dist/UserRoutes.js

!.github/
!.github/workflows/
!.github/workflows/*

!src/
!src/**/*.ts
!src/public/
!src/public/test.html